<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Current Password</td>
                <td><input type="text" name="txt_current" id="txt_current"></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td><input type="text" name="txt_pass" id="txt_pass"></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="text" name="txt_cpass" id="txt_cpass"></td>
            </tr>
            <tr>
                <td><input type="submit" name="btn_submit" id="btn_submit" value="Submit"><input type="reset" name="btn_cancel" id="btn_cancel" value="Cancel"></td>
            </tr>
        </table>
        {% if msg %}
        <script>
            alert("{{msg}}")
            window.location= "{% url 'Student:Myprofile' %}"
        </script>
        {% endif %}
        {% if msg1 %}
        <script>
            alert("{{msg1}}")
            window.location= "{% url 'Student:Myprofile' %}"
        </script>
        {% endif %}
        {% if msg2 %}
        <script>
            alert("{{msg2}}")
            window.location= "{% url 'Student:Myprofile' %}"
        </script>
        {% endif %}
    </form>
</body>
</html>