<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" >
            <tr>
                <td>Name</td>
                <td><input type="text" name="txt_name" id="txt_name" value="{{hod.hod_name}}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt_email" id="txt_email" value="{{hod.hod_email}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" id="txt_contact" value="{{hod.hod_contact}}"></td>
            </tr>
            <!-- <tr>
                <td>Address</td>
                <td><textarea name="txt_address" id="txt_address">{{hod.hod_address}}</textarea></td>
            </tr> -->
            <tr>
                <td colspan="2" align="center"><input type="submit" name="btn_submit" id="btn_submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</body>
</html>