<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Registration</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Design -->
        <H3 align="center">Registration</H3>
         <table align="center" border="2">
            <tr>
                <td>Name</td>
                <td><input required type="text" name="txt_name" id="txt_name" placeholder="Enter Name"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input required type="email" name="txt_email" id="txt_email" placeholder="Enter Email"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input required type="text" name="txt_contact" id="txt_contact" placeholder="Enter Contact"></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="txt_photo" id="txt_photo"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input required type="password" name="txt_password" id="txt_password" placeholder="Enter Password"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit" name="btn_submit" id="btn_submit"></td>
            </tr>
         </table>
         <br>
         <H3 align="center">Teachers</H3>
         <table align="center" border="2">
            <tr>
                <td>SL NO</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Photo</td>
                <td>Action</td>
            </tr>
            {% for i in tr %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.teacher_name}}</td>
                <td>{{i.teacher_email}}</td>
                <td>{{i.teacher_contact}}</td>
                <td><img src="{{i.teacher_photo.url}}" alt="" width="150" height="150">
                <td><a href="{% url 'HOD:deleteteacher' i.id %}">Delete</a></td>
            </tr>
            {% endfor %}
         </table>
    </form>
</body>
</html>